.caracte{
    padding-top: 35px;
    padding-bottom: 35px;
    background-image: url('img/caracteristicas.jpg');
    background-size: cover; 
}

.caracte h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.background-top-row{
    background-color: rgba(52,3,45,0.3);
    backdrop-filter: blur(.4rem);
}

.contener{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardss{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
    width: 250px;
    height: 410px;
    backdrop-filter: blur(.9rem);
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid #fff;
}

.top-row{
    color: #fff;
    padding: 1rem;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content{
    padding: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content p{
    font-size: 1.2rem; 
    color: white;   
}

.button{
    border-radius: 1rem;
    color: white;
    font-size: 12px;
    padding: .8rem .3rem;
    letter-spacing: .1rem;
    align-self: center;
    border: .1rem solid rgba(255, 255, 255, 0.18);
}

.button a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.button:hover{
    background-color: rgb(225, 225, 225, 0.4 );
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.button a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
}


@media(max-width: 556px){
    .caracte h2{
        font-size: 20px;
    }
}

@media (max-width:305px){
    .cardss{
        width: 250px;
        height: 260px;
    }
}

@media (max-width:280px){
    .caracte h2{
        font-size: 15px;
    }

    .content p{
        font-size: 0px;
    }
    
    .cardss{
        width: 250px;
        height: 150px;
    }
}