.icon-home{
    color: red;
    padding: 2px;
    font-size: 40px;
}

.logo{
    color:white;
    font-size: 30px;
}

#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 30px;
    margin: 6px 0;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);

}


.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover{
    background: rgba(255,255,255,0.3);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}


@media(min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        font-weight: bold;
        border-radius: 0px;
    }
    .menu a{
    border: none;
    color: rgb(255, 255, 255);
    }

    header label{
        display: none;
    }
}

@media (max-width:310px){
    .icon-home{
        color: white;
    }

    .logo{
        font-size: 0px;
    }

}